.ibr_card_photo_container {
  display: flex;
  justify-content: flex-start !important;
  align-items: center !important;
  flex-direction: column;
  width: 800px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.213) 0px 3px 8px;
  margin-top: 50px;
  border-radius: 20px;
}

.ibr_card_photo_container:hover {
  box-shadow: rgba(0, 0, 0, 0.091) 0px 3px 8px;
  transition: 0.8s;
}

.ibr_card_photo_container img {
  height: 60%;
  width: 100%;
  object-fit: contain !important;
  border-radius: 20px 20px 0px 0px;
}

.ibr_card_photo_detail_time_data {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  width: 100%;
  height: 5%;
  margin-right: 180px;
  margin-top: 20px;
}

.ibr_card_photo_detail_time_data p {
  font-size: 20px;
  margin-left: 15px;
  color: #4c525a !important;
  font-family: "Josefin Sans", sans-serif !important;
}

.ibr_line_card {
  width: 90%;
  margin-left: 5%;
  height: 0.00001px;
  border: 0.1px solid #4c525a;
  margin-top: 10px;
  margin-right: 20px;
}

.ibr_card_photo_detail_name {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 90%;
  height: 20%;
  margin-left: 5%;
  margin-top: 20px;
}

.ibr_card_photo_detail_name h2 {
  color: #00adb5;
  font-family: "Josefin Sans", sans-serif !important;
  margin-top: 10px;
}

.ibr_card_photo_detail_name p {
  font-family: "Josefin Sans", sans-serif !important;
  margin-top: 15px;
  font-size: 25px;
}

.ibr_btn_post {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5%;
}

.ibr_btn_card_Post {
  width: 50%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px !important;
  background-color: #435832;
  border: none;
  color: #000 !important;
  text-transform: lowercase !important;
  font-family: "Josefin Sans", sans-serif !important;
}
