.kare_footer_container {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff !important;
  position: absolute;
  text-align: center;
  margin-top: 50px;
}

.kare_footer_lift_side_container {
  margin-right: 50px;
  color: #ffff !important;
}
.kare_footer_lift_side_container_a {
  height: 50px !important;
  width: 30px !important;
  margin-left: 50px !important;
  flex-direction: row-reverse;
  color: #ffff !important;
}

.kare_footer_center_side_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffff !important;
}

.kare_footer_logo_a img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.kare_footer_logo_a h3 {
  height: 40px;
  width: 120px;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  color: #ffff !important;
  font-family: "Josefin Sans", sans-serif;
}

.kare_footer_lift_side_container_a img {
  font-size: 20px;
  height: 35px;
  width: 35px;
  object-fit: contain;
  text-decoration: none;
  color: #ffff !important;
  font-size: "Josefin Sans", sans-serif;
}

.kare_footer_lift_side_container_a_pixel img {
  font-size: 20px;
  height: 40px;
  width: 40px;
  object-fit: contain;
  text-decoration: none;
  color: #ffff !important;
  font-size: "Josefin Sans", sans-serif;
  margin-left: 50px;
}

@media screen and (max-width: 470px) {
  .facebook {
    display: none;
  }
  .twitter {
    display: none;
  }
}
