.upload-Input-container {
  height: 305px;
  width: 500px;
  border: 2.5px solid #00adb5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin-left: 30%;
  margin-top: 40px;
}

.upload-image-input {
  border-radius: 10px !important;
  color: #000 !important;
  background-color: #fff !important;
  outline: none;
}

.btn-upload-image {
  background-color: #00adb5 !important;
  color: #fff !important;
  margin-top: 30px !important;
}
