.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Create-card {
  height: 50px;
  width: 420px;
  background-color: #00adb5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 10px;
}

.upload-card {
  height: 50px;
  width: 350px;
  background-color: #00adb5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 10px;
}

.upload-card h2 {
  color: #fff;
  font-family: "Josefin Sans", sans-serif !important;
  margin-left: 10px;
}

.Create-card h2 {
  color: #fff;
  font-family: "Josefin Sans", sans-serif !important;
  margin-left: 10px;
}

.create-btn {
  color: #fff !important;
  font-family: "Josefin Sans", sans-serif !important;
  margin-left: 10px !important;
  margin-top: 3px !important;
}

.no-cards-page {
  display: flex;
  height: 400px !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.no-cards-page h1 {
  display: flex;
  height: 100px;
  margin-top: 70px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif !important;
  color: #00adb5;
  font-size: 40px;
}

.login-Create-card {
  height: 50px;
  width: 350px;
  background-color: #00adb5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  border-radius: 10px;
  margin-right: 800px;
}

.login-Create-card h2 {
  color: #fff;
  font-family: "Josefin Sans", sans-serif !important;
  margin-left: 10px;
}

.login-btn {
  color: #fff !important;
  font-family: "Josefin Sans", sans-serif !important;
  margin-left: 40px !important;
  margin-top: 3px !important;
  font-weight: 500;
}

.empty-animation {
  height: 200px;
  width: 270px;
  /* z-index: 100;
  margin-top: -200px !important;
  margin-left: 340px; */
}
